{% extends "SiteBundle:Layout:base.html.twig" %}
{% block title %}Home{% endblock %}
{% block stylesheets %}
  {{ parent() }}
        {% stylesheets 
            '@SiteBundle/Resources/public/css/shop-homepage.css' 
            filter='cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    
{% endblock %}
{% block content %}

	   {{ form_start(form) }}
    <fieldset>

        <!-- Form Name -->
        <legend>Bestelling aan:</legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="userbundle_customer_firstname">Firstname:*</label>  
            <div class="col-md-5">
	           {{ form_row(form.customer.firstname) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="userbundle_customer_lastname">Lastname:*</label>  
            <div class="col-md-5">
	           {{ form_row(form.customer.lastname) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="userbundle_customer_address_line_1">Address line 1:*</label>  
            <div class="col-md-5">
	           {{ form_row(form.customer.address_line_1) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="userbundle_customer_address_line_2">Address line 2:</label>  
            <div class="col-md-5">
	           {{ form_row(form.customer.address_line_2) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="userbundle_customer_phone_number">phone:*</label>  
            <div class="col-md-5">
	           {{ form_row(form.customer.phone.number) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="userbundle_customer_city_name">City:*</label>  
            <div class="col-md-5">
	           {{ form_row(form.customer.city.name) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="userbundle_customer_city_zip">Zip:*</label>  
            <div class="col-md-5">
	           {{ form_row(form.customer.city.zip) }}
            </div>
        </div>

        <!-- Multiple Checkboxes (inline) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="register">Register?</label>
            <div class="col-md-4">
                <p id="button" class="btn btn-info">
                    Click here!
                </p>
            </div>
        </div>

        <div id="register" style="display:none">
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="userbundle_customer_profile_email_email">Email:</label>  
                <div class="col-md-5">
                    {{ form_row(form.email) }}
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="userbundle_customer_profile_password">Password</label>
                <div class="col-md-5">
                    {{ form_row(form.password) }}
                </div>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <div class="col-md-push-4 col-md-5">
	           {{ form_end(form) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-push-4 col-md-5">
                <a class="btn btn-danger btn-xs btn-block" href="{{ path('customer') }}">
                    Cancel
                </a>
            </div>
        </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
    $('#button').click(function(){
      $('#register').toggle();
    });
    </script>
{% endblock %}
